/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Chakra Petch', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f7d293;
  height: 100vh;
  width: 100%;
}

.navbar-mobile {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  opacity: 95%;
  top: -80px;
  width: 100%;
  transition: top 0.5s ease-in-out;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  width: 40px;
  margin-right: 2px;
}

.btn-nav1 {
  padding: 10px 16px;
  background-color: #eeeeee;
  color: black;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.btn-nav2 {
  padding: 10px 16px;
  background-color: #f39c12;
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.btn-nav1:hover {
  background-color: #a1a1a1;
  color: rgb(226, 226, 226);
}

.btn-nav2:hover {
  background-color: #dd8f12;
  color: rgb(226, 226, 226);
}

.logo1 {
  width: 20%;
  margin-left: 42%;
}

h1 {
  margin-top: -20px;
  font-size: 44px;
  margin-left: 42%;
  font-weight: bold;
  font-variant: small-caps;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.cta1 {
  margin-left: 42%;
  margin-top: 40px;
}

a {
  margin-right: 18px;
}

.cta1 .login {
  text-decoration: none;
  padding: 10px 25px;
  background-color: #8BD3DD;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.cta1 .login:hover {
  box-shadow: 5px 5px 0 black;
}

.cta1 .register {
  text-decoration: none;
  padding: 10px 25px;
  background-color: #FAAE2B;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.cta1 .register:hover {
  box-shadow: 5px 5px 0 black;
}

.payment {
  width: 45%;
  position: relative;
  background-color: #F2F7F5;
  border: 1px solid black;
  font-size: 19px;
  padding: 15px 14px;
  border-radius: 8px;
  margin-left: 28%;
  margin-top: 40px;
  box-shadow: 5px 5px 0 black;
}

.payment img {
  width: 27%;
  position: absolute;
  top: 69px;
  left: 60%;
}

.payment ul {
  margin-left: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.procedure {
  width: 45%;
  position: relative;
  background-color: #F2F7F5;
  border: 1px solid black;
  font-size: 19px;
  padding: 15px 14px;
  border-radius: 8px;
  margin-left: 28%;
  margin-top: 55px;
  box-shadow: 5px 5px 0 black;
}

.procedure h3 {
  position: absolute;
  top: -37px;
  left: 73%;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  background-color: #FE98A3;
}

.procedure ol {
  margin-left: 40px;
}

.cta-register {
  width: 45%;
  position: relative;
  font-size: 19px;
  padding: 15px 14px;
  border-radius: 8px;
  margin-left: 28%;
  margin-top: 55px;
}

.cta-register {
  margin-top: 55px;
  position: relative;
}

.logo2 {
  width: 45%;
  margin-left: 25%;
  margin-top: 35px;
}

.register-now {
  text-decoration: none;
  padding: 10px 10px;
  background-color: #FAAE2B;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: .2s ease-in-out;
  position: absolute;
  left: 54%;
  top: 0%;
}

.register-now:hover {
  box-shadow: 5px 5px 0 black;
  transform: scale(1.1);
}

.price {
  width: 45%;
  position: relative;
  background-color: #F2F7F5;
  border: 1px solid black;
  font-size: 19px;
  padding: 15px 14px;
  border-radius: 8px;
  margin-left: 28%;
  margin-top: 40px;
  box-shadow: 5px 5px 0 black;
}

.price p {
  width: 55%;
  margin: 10px 0;
}

.price img {
  width: 35%;
  position: absolute;
  top: -20px;
  left: 60%;
}

.price h3 {
  position: absolute;
  top: -37px;
  left: 40%;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  background-color: #FE98A3;
}

.faq-cta {
  width: 40%;
  position: relative;
  background-color: #ff8800;
  border: 1px solid black;
  font-size: 35px;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 8px;
  margin-left: 31%;
  margin-top: 40px;
  box-shadow: 5px 5px 0 black;
  transition: .3s ease-in-out;
}

.faq-cta p {
  margin-left: 45%;
}

.faq-cta a{
  text-decoration: none;
  color: black;
}

.faq-cta img {
  width: 24%;
  position: absolute;
  top: 10px;
  left: 10%;
}

.faq-cta:hover {
  transform: scale(1.1);
  box-shadow: 15px 15px 5px black,
  15px 15px 5px black;
}

.creator-partner {
  width: 60%;
  position: relative;
  background-color: #F2F7F5;
  border: 1px solid black;
  font-size: 19px;
  padding: 15px 14px;
  padding-left: 30px;
  border-radius: 6px;
  margin-left: 20%;
  margin-top: 100px;
  box-shadow: 10px 10px 0 black;
}

.creator-partner h3 {
  position: absolute;
  top: -41px;
  left: 39%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  background-color: #FE98A3;
}

.creator-partner img {
  margin-left: 15px;
  filter: grayscale(100%);
  transition: .4s ease-in-out;
  cursor: pointer;
  width: 190px;
  border-radius: 5px;
}

.creator-partner img:hover {
  filter: grayscale(0);
}

.media-partner {
  width: 60%;
  position: relative;
  background-color: #F2F7F5;
  border: 1px solid black;
  font-size: 19px;
  padding: 15px 14px;
  padding-left: 30px;
  border-radius: 6px;
  margin-left: 20%;
  margin-top: 100px;
  box-shadow: 10px 10px 0 black;
}

.media-partner h3 {
  position: absolute;
  top: -41px;
  left: 40%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  background-color: #FE98A3;
}

.media-partner img {
  margin-left: 15px;
  filter: grayscale(100%);
  transition: .4s ease-in-out;
  cursor: pointer;
  width: 190px;
  border-radius: 5px;
}

.media-partner img:hover {
  filter: grayscale(0);
}

.ewallet-partner {
  width: 55%;
  position: relative;
  background-color: #F2F7F5;
  border: 1px solid black;
  font-size: 19px;
  padding: 15px 14px;
  padding-left: 30px;
  border-radius: 6px;
  margin-left: 23%;
  margin-top: 100px;
  box-shadow: 10px 10px 0 black;
}

.ewallet-partner h3 {
  position: absolute;
  top: -41px;
  left: 39%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  background-color: #FE98A3;
}

.ewallet-partner img {
  margin-left: 15px;
  filter: grayscale(100%);
  transition: .4s ease-in-out;
  cursor: pointer;
  width: 190px;
  border-radius: 5px;
}

.ewallet-partner img:hover {
  filter: grayscale(0);
}

.syarat-ketentuan {
  width: 80%;
  position: relative;
  background-color: #F2F7F5;
  border: 1px solid black;
  font-size: 19px;
  padding: 15px 14px;
  border-radius: 6px;
  margin-left: 10%;
  margin-top: 100px;
  box-shadow: 10px 10px 0 black;
}

.syarat-ketentuan h3 {
  position: absolute;
  top: -41px;
  left: 36%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  background-color: #FE98A3;
}

/* FAQ */
.question{
    width: 60%;
    min-width: 500px;
    margin-left: 50%;
    margin-top: 530px;
    transform: translate(-50%,-50%);
    margin-bottom: -250px;
}

.question h3 {
  position: absolute;
  top: -100px;
  left: 25%;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  font-size: 30px;
  text-decoration: underline;
  color: white;
  text-shadow: 3px 3px 0 black;
}

.wrapper{
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 0 black;
    transition: .2s ease-in-out;
}

.wrapper:hover {
  background-color: #f3f0f0;
}

.toggle{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    font-size: 16px;
    color: #111130;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 0;
}
.content{
    font-size: 15px;
    line-height: 20px;
    height: 0;
    font-weight: bold;
    overflow: hidden;
    transition: .3s ease-in-out;
}
/* FAQ END */

footer {
  background-color: #9b9b9b;
  border-top: 3px solid black;
  margin-top: 60px;
  padding: 15px 5px;
}

footer h3 {
  text-align: end;
}

.link a {
  text-align: end;
  display: block;
  text-decoration: none;
  color: #F2F7F5;
  margin-top: 10px;
}

.link a:hover {
  text-decoration: underline;
}

.media-social {
  text-align: end;
  margin-top: 15px;
}

.media-social img{
  filter: grayscale(100);
  width: 30px;
  transition: .3s ease-in-out;
}

.media-social img:hover {
  filter: grayscale(0);
}

footer p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: -10px;
}


/* RESPONSIVE STYLE */

/*  iPads, Tablets */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .navbar {
    top: -70px;
    opacity: 95%;
    margin-top: -2px;
  }

  .logo1 {
    width: 30%;
    margin-left: 35%;
    margin-top: 60px;
  }

  .btn-nav2 {
    margin: 0 5px;
  }

  h1 {
    margin-left: 38%;
    font-size: 32px;
  }

  .cta1 {
    margin-left: 35%;
  }

  .payment,
  .procedure,
  .cta-register,
  .price,
  .creator-partner,
  .media-partner,
  .syarat-ketentuan {
    width: 90%;
    margin-left: 5%;
  }

  .payment img {
    width: 22%;
    top: 70px;
    left: 80%;
    transform: translateX(-50%);
  }

  .procedure h3 {
    left: 40%;
  }

  .price img {
    width: 29%;
    top: -13px;
    left: 65%;
  }

  .price h3 {
    left: 35%;
  }

  .logo2 {
    width: 55%;
    margin-left: 25%;
  }

  .register-now {
    left: 62%;
    top: 30px;
    font-size: 28px;
  }

  .faq-cta {
    width: 70%;
    margin-left: 15%;
  }

  .faq-cta img {
    width: 25%;
    top: 6px;
  }

  .faq-text {
    font-size: 36px;
  } 

  .faq-cta:hover {
    transform: scale(1.1);
  }

  .creator-partner h3 {
    left: 32%;
  }

  .creator-partner img {
    width: 90px;
  }

  .media-partner h3 {
    left: 40%;
  }

  .media-partner img {
    width: 90px;
  }

  .ewallet-partner {
    width: 60%;
    margin-left: 18%;
  }

  .ewallet-partner h3 {
    left: 35%;
  }

  .ewallet-partner img {
    width: 96px;
  }

  .syarat-ketentuan h3 {
    left: 30%;
  }

  .question {
    width: 85%;
    min-width: unset;
    margin-left: 50%;
    margin-top: 580px;
  }

  .wrapper {
    padding: 15px;
  }

  .wrapper button,p {
    font-size: 20px;
  }

  footer h3 {
    text-align: end;
  }

  .link a {
    text-align: end;
    margin-top: 10px;
  }

  .media-social {
    text-align: end;
    margin-top: 15px;
  }

  footer p {
    font-size: 15px;
  }
}

/* Mobile devices */
@media screen and (min-width: 300px) and (max-width: 480px) {

  body {
    margin-top: -2%;
    width: 100%;
    overflow-x: hidden;
  }
  .navbar {
    display: none;
  }
  
  .navbar-mobile {
    display: block;
    width: 100%;
    opacity: 95%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    position: fixed;
    z-index: 9999;
    background-color: #0e2431;
    
  }
  
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-mobile .menu-items {
    display: flex;
  }

  .menu-items {
    background-color: #f39c12;
  }
  
  .navbar-mobile .nav-mobile li {
    list-style: none;
  }
  
  .navbar-mobile .nav-mobile a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar-mobile .nav-mobile a:hover{
    font-weight: bolder;
  }
  
  .nav-mobile {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-mobile .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-mobile .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-mobile .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  
  .nav-mobile .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-mobile .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-mobile .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar-mobile .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    filter: opacity(90%);
  }
  
  .navbar-mobile .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo-mobile {
    position: absolute;
    top: 15px;
    right: 2%;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }

  .logo-mobile img {
    width: 32px;
  }
  
  .nav-mobile input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-mobile input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-mobile input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-mobile input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-mobile input[type="checkbox"]:checked ~ .logo-mobile{
    color: white;
  }

  .logo1 {
    width: 40%;
    margin-left: 31%;
    margin-top: 60px;
  }

  h1 {
    margin-left: 26%;
    font-size: 32px;
  }

  .cta1 {
    margin-left: 20%;
  }

  .payment,
  .procedure,
  .cta-register,
  .syarat-ketentuan {
    width: 90%;
    margin-left: 5%;
  }

  .payment p {
    font-size: 15px;
  }

  .payment img {
    width: 25%;
    top: 90px;
    left: 71%;
  }
  
  .payment ul {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
  }

  .procedure h3 {
    top: -32px;
    left: 5%;
    font-size: 18px;
  }

  .procedure ol {
    font-size: 16px;
  }

  .logo2 {
    width: 65%;
    margin-left: 19%;
  }

  .register-now {
    left: 60%;
    top: -20px;
    font-size: 24px;
  }

  .price {
    width: 80%;
    height: 20%;
    margin-left: 10%;
  }

  .price h3 {
    font-size: 18px;
    top: -33px;
    left: 5%;
  }

  .price p {
    font-size: 15px;
  }

  .price img {
    width: 40%;
    top: 20px;
    left: 60%;
  }

  .faq-cta {
    width: 75%;
    margin-left: 13%;
  }

  .faq-cta img {
    width: 42%;
    top: 10px;
    left: 5%;
  }

  .faq-text {
    font-size: 25px;
  } 

  .faq-cta:hover {
    transform: scale(1.1);
  }

  .creator-partner {
    max-width: 60%;
    padding: 10px;
  }

  .creator-partner h3 {
    font-size: 18px;
    left: 1%;
    top: -36px;
  }

  .creator-partner img {
    width: 30%;
    border-radius: 8px;
  }

  .creator-partner img:hover {
    transform: scale(1.1);
  }

  .media-partner {
    max-width: 60%;
    padding: 10px;
  }

  .media-partner h3 {
    font-size: 18px;
    left: 5%;
    top: -36px;
  }

  .media-partner img {
    width: 30%;
    border-radius: 8px;
  }

  .media-partner img:hover {
    transform: scale(1.1);
  }

  .ewallet-partner {
    text-align: center;
    max-width: 45%;
    top: 50px;
    left: 27%;
    padding: 10px;
    margin: 20px 0;
  }

  .ewallet-partner h3 {
    font-size: 18px;
    left: 6%;
    top: -36px;
  }

  .ewallet-partner img {
    width: 65%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .ewallet-partner img:hover {
    transform: scale(1.1);
  }

  .syarat-ketentuan {
    margin-bottom: -90px;
  }

  .syarat-ketentuan h3 {
    font-size: 15px;
    top: -32px;
    left: 3%;
  }

  .question {
    margin-top: 680px;
    margin-bottom: -200px;
  }

  .question h3 {
    font-size: 25px;
    margin-left: -8%;
  }

  .wrapper {
    padding: 5px 8px;
    max-width: 65%;
    margin-left: 17%;
  }

  .wrapper button,p {
    font-size: 18px;
  }

  footer h3 {
    text-align: end;
  }

  .link a {
    text-align: end;
    margin-top: 10px;

  }

  .media-social {
    text-align: end;
    margin-right: -10px;
  }

  footer p {
    font-size: 15px;
  }
}
